.button {
    background-color: #007bff; 
    color: white; 
    border: none;  
    border-radius: 5px; 
    padding: 10px 15px; 
    margin-right: 5px; 
    cursor: pointer; 
    font-size: 14px;  
    transition: background-color 0.3s, transform 0.2s; 
}

.button:hover {
    background-color: #0056b3;  
    transform: translateY(-2px);  
}

.button.delete {
    background-color: #dc3545;  
}

.button.delete:hover {
    background-color: #c82333;  
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.pagination button {
    background-color: #ff4242; 
    color: white;  
    border: none; 
    border-radius: 5px; 
    padding: 10px 15px; 
    margin: 0 5px;  
    cursor: pointer;  
    transition: background-color 0.3s, transform 0.2s; 
}

.pagination button:hover {
    background-color: #e03e3e;  
    transform: scale(1.05);  
}

.pagination button:disabled {
    background-color: #ccc;  
    cursor: not-allowed;  
}
