.container {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    height: auto; 
    margin-top: 20px; 
    background-color: #f9f9f9; 
}

.form {
    width: 400px;
    padding: 20px;  
    border: 1px solid #ccc;  
    border-radius: 8px;  
    background-color: white; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-top: 20px;  
}

input[type="text"],
input[type="number"] {
    width: 100%;  
    padding: 10px;  
    margin: 10px 0; 
    border: 1px solid #ddd; 
    border-radius: 4px; 
    font-size: 16px;  
    transition: border-color 0.3s;  
}

input[type="text"]:focus,
input[type="number"]:focus {
    border-color: #007bff; 
    outline: none; 
}

.btn-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px; 
}

input[type="submit"] {
    background-color: #007bff;  
    color: white;  
    border: none;  
    padding: 10px 15px; 
    border-radius: 4px; 
    cursor: pointer;  
    font-size: 16px;  
    transition: background-color 0.3s; 
}

input[type="submit"]:hover {
    background-color: #0056b3; 
}

p {
    margin: 5px 0; 
    font-size: 14px;  
    color: red;  
}
