.container {
    display: flex;
    justify-content: center;
    background-color: #ffffff; /* Latar belakang putih untuk navigasi */
    padding: 10px 20px; /* Tambahkan padding atas dan bawah, serta sisi */
    border-radius: 8px; /* Tambahkan sudut melengkung */
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); /* Tambahkan bayangan halus */
}

a {
    margin: 0 15px; /* Jarak antar link lebih jauh */
    text-decoration: none;
    color: #333; /* Warna teks default */
    font-weight: 600; /* Tambahkan ketebalan pada teks */
    font-size: 16px; /* Ukuran font yang lebih besar */
    padding: 10px 15px; /* Tambahkan padding dalam link */
    border-radius: 4px; /* Tambahkan sudut melengkung */
    transition: background-color 0.3s, color 0.3s; /* Transisi halus */
}

a:hover {
    color: #ffffff; /* Warna teks saat hover */
    background-color: #ff4242; /* Warna latar belakang saat hover */
}

.active {
    text-decoration: underline; /* Garis bawah pada link aktif */
    color: #ff4242; /* Warna aktif link */
    font-weight: bold; /* Ketebalan pada teks aktif */
}
